body {
  font-family: Arial, sans-serif;
  background: #f5f7f6;
}

form {
  background: white;
  width: 400px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 10px;
}

input, textarea, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

button {
  background: #75b39f;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
